{% extends 'base.html.twig' %}

{% block title %}All tests{% endblock %}

{% block body %}
<p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Nunc himenaeos dignissim dapibus elit ligula quis auctor. 
    Morbi efficitur tellus; semper penatibus tortor at duis.
</p>

<ul>
{{ dump(app)}}
    <li>
        <a href="{{ url('test.show', {id: 1, slug: 'first-page'}) }}">Page 1</a>
    </li>
    <li>
        <a href="{{ path('test.show', {id: 2, slug: 'second-page'}) }}">Page 2</a>
    </li>
    <li>
        <a href="{{ url('test.show', {id: 2, slug: 'other-page'}) }}">Page 3</a>
    </li>
</ul>
{% endblock %}