{% extends 'base.html.twig' %}

{% block title %}Test:
	{{ "the test :" ~ slug }}
{% endblock %}

{% block body %}
	<h1>ID:
		{{ id }}</h1>
	<h1>Test:
		{{ slug | upper}}</h1>

	<br>
	<a href="{{ path('test.index', { 'id': id, 'slug': slug }) }}" class="btn btn-primary">
		Show Test List
	</a>
{% endblock %}
