{% extends 'base.html.twig' %}

{% block title %}All recipes{% endblock %}

{% block body %}
	<p>
		Bacon ipsum dolor amet t-bone tenderloin landjaeger ground round flank fatback spare 
		ribs. T-bone swine drumstick, ball tip kielbasa rump frankfurter boudin andouille shank sausage picanha filet mignon.
		Meatloaf jowl shoulder drumstick, bresaola landjaeger chislic capicola short ribs ham pastrami.
	</p>

	<ul>
		{% for recipe in recipes %}
			<li>
				<a href="{{ url('recipes.show', {id: recipe.id, 'slug': recipe.slug}) }}">{{recipe.title}}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
